:root
{
  --button-color:#4461F2;
  --white-color:#ffffff;
  --black-color:#000000;
  --grey-color:#A1A4A9;
  --grey-color2:#949BA5;
  --grey-color3:#6C737F;
  --grey-color4:#313131;
  --light-grey-color:#E0E0E9;
  --dark-blue-color:#122D9C;
  --lighter-blue-color:#F0F4FC;
}