<button 
  class = "clicked-btn"
  [ngStyle]="{
    'background' : background(),
    'color' : color(),
    'border-radius.px' : borderRadius(),
    'margin-top' : buttonName() !== 'start quiz' && buttonName() !== 'start exam' && buttonName() !== 'start' ? '15px' : '0',
    'padding' : buttonName() === 'start' ? '5px 0' : (buttonName() !== 'start quiz' && buttonName() !== 'start exam') ? '10px 0' : '13px 0',
    'width' : width() + '%',
    'border-color' : borderColor() ? borderColor() : background() 
  }"
  (click)="clickOnBtn()"
  [type]="buttonType()"
  [disabled]="disabled()"
  [class.btn-disabled]="disabled()"
>{{buttonName()}}</button>