<div class="quiz-details">
  <app-search-bar (search)="search($event)" buttonName = "start exam" />
  <div class="mt-5">
    @if(isEmpty) {
    <p class="empty-data">there are no exams for this subject</p>
    } @else { @for (exam of exams; track exam._id) {
      <app-exam-card 
        [exam]="exam"
        (showDialog)="showInstructions(exam)"
      />
    } }
  </div>
</div>
<p-confirmDialog #instructions key = "instructions" styleClass = "instructions-popup" [closeOnEscape]="false" >
  <ng-template pTemplate="header">
    <p>instructions</p>
    <ul>
      <!-- <li>don not press esc button to exist the exam</li> -->
      <li>don not make refresh the page to exist the exam</li>
    </ul>
    <app-button
      buttonName="start exam"
      background="#4461F2"
      color="#ffffff"
      [borderRadius]="15"
      buttonType="button"
      (onClick)="startQuiz();instructions.hide()"
    />
  </ng-template>
</p-confirmDialog>
<p-confirmDialog #examPopup key = "exam" styleClass = "exam-popup" [closeOnEscape]="false" >
  <ng-template pTemplate="header">
    @if(questions && questions.length !== 0)
    {
      <div class="exam-header">
        <p>question {{currentQuestionIndex + 1}} of {{currentExam.numberOfQuestions}}</p>
        <app-timer 
          [startDuration]="currentExam.duration"
          (timerComplete)="timerComplete($event , examPopup)"
        />
      </div>
      <div class="exam-questions-dots">
        @for (dot of questionsDots; track dot) {
          <span 
            class="dot"
            [class.active-dot]="dot.active"
          ></span>
        }
      </div>
      <div class="exam-questions">
        <div class="question">
          <p style = "min-height:60px;">{{questions[currentQuestionIndex].question}}</p>
          <div class="exam-answers">
            @for (answer of questions[currentQuestionIndex].answers; track answer){
              <div 
                class="flex align-items-center answer"
                [class.selected-answer]="questions[currentQuestionIndex].selectedOption && questions[currentQuestionIndex].index === $index"
              >
                <input 
                  type = "radio"
                  [(ngModel)]="questions[currentQuestionIndex].selectedOption"
                  [value]="answer.key" 
                  [id]="answer.key"
                  class = "answers-radiobutton"
                  (click)="getCurrentAnswer($index)"
                  (change)="selectValue(answer)"
                />
                <label (click)="getCurrentAnswer($index)" [for]="answer.key" class="ml-2" style = "width:100%;">
                  {{answer.answer}}
                </label>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="exam-buttons">
        <app-button 
          buttonName="back"
          background = "#ffffff"
          color = "#4461F2"
          borderColor="#4461F2"
          [borderRadius] = 25
          buttonType = "button"
          (onClick)="previousQuestion()"
          [disabled]="currentQuestionIndex == 0"
        />
        <app-button 
          [buttonName]="currentQuestionIndex === questions.length - 1 ? 'done' : 'next'"
          background = "#4461F2"
          color = "#ffffff"
          [borderRadius] = 25
          buttonType = "button"
          (onClick)="currentQuestionIndex === questions.length - 1 ? calculateCorrectAnswers(examPopup) : nextQuestion()"
          [disabled]="!questions[currentQuestionIndex].selectedOption"
        />
      </div>
    } @else {
      <p class = "empty-questions">there are no questions</p>
    }
  </ng-template>
</p-confirmDialog>
<p-confirmDialog #score key = "score" styleClass = "score-popup" [closeOnEscape]="false" >
  <ng-template pTemplate="header">
    <p class = "score-title">your score</p>
    <div class="score-content">
      <div class="score-content-chart">
        <app-doughnut-chart 
          [scoreNumber]="totalScore"
        />
      </div>
      <div class="score-content-details">
        <div class="correct-answers">
          <p class="title">correct</p>
          <p class="num">{{correctQuestions.length}}</p>
        </div>
        <div class="incorrect-answers">
          <p class="title">incorrect</p>
          <p class="num">{{questions.length - correctQuestions.length}}</p>
        </div>
      </div>
    </div>
    <div 
      class="score-content-buttons"
      [class.single-btn]="questions.length - correctQuestions.length !== 0"
    >
      <app-button 
      buttonName="close"
      background = "#ffffff"
      color = "#4461F2"
      borderColor="#4461F2"
      [borderRadius] = 25
      buttonType = "button"
      (onClick)="closeTotalScore(score)"
    />
    @if(questions.length - correctQuestions.length !== 0)
    {
      <app-button 
        [buttonName]="'show results'"
        background = "#4461F2"
        color = "#ffffff"
        [borderRadius] = 25
        buttonType = "button"
        (onClick)="showResults();score.hide()"
      />
    }
    </div>
  </ng-template>
</p-confirmDialog>
<p-confirmDialog #showResultsPopup key = "show-results" styleClass = "score-popup show-results-popup" [closeOnEscape]="false" >
  <ng-template pTemplate="header">
    <div class="grid" style = "max-height:500px;overflow:auto;">
      @for (wrongQuestion of wrongQuestions; track wrongQuestion._id) {
        <div class="col-6">
          <div class="wrong-question">
            <p>{{wrongQuestion.question}}</p>
            <div class="answers mt-4">
              @for (answer of wrongQuestion.answers; track answer.key) {
                <div 
                  class="answer flex align-items-center answer"
                  [class.wrong-answer]="answer.key === wrongQuestion.selectedOption"
                  [class.right-answer]="answer.key === wrongQuestion.correct"
                >
                <input 
                  type = "radio"
                  [value]="answer.key" 
                  [id]="answer.key"
                  class = "answers-radiobutton"
                  [(ngModel)]="wrongQuestion.selectedOption"
                  disabled
                />
                <label (click)="getCurrentAnswer($index)" class="ml-2" style = "width:100%;word-break:break-all;">
                  {{answer.answer}}
                </label>
              </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
    <app-button 
      buttonName="close"
      background = "#4461F2"
      color = "#ffffff"
      borderColor="#4461F2"
      [borderRadius] = 10
      buttonType = "button"
      (onClick)="closeShowResults();showResultsPopup.hide()"
    />
  </ng-template>
</p-confirmDialog>