@import "../../../styles/fonts";
.forgot-password
{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media all and (min-width:1500px)
  {
    width: 500px;
    margin: auto;
    // height: 100%;
  }
  input
  {
    &::placeholder
    {
      text-transform: capitalize;
      color:var(--grey-color);
      @extend .inter-font;
    }
  }
}