<section class="forgot-password">
  <app-form-title text = "forgot your password" />
  <form [formGroup]="forgotPasswordForm">
    <div class = "mb-3">
      <app-form-input 
        formControlName = "email"
        placeholder = "email"
        type = "email"
        id = "email"
        [errors]="forgotPasswordForm.get('email')?.errors"
      />
    </div>
    <app-button 
      buttonName = "send code"
      background = "#4461F2"
      color = "#ffffff"
      [borderRadius] = 15
      buttonType = "button"
      (onClick)="forgotPassword()"
      [disabled]="forgotPasswordForm.invalid"
    />
  </form>
</section>
