<section class="forgot-password">
  <app-form-title text = "forgot your password" />
  <form [formGroup]="forgotPasswordForm">
    <div class="form-group mb-2" style = "position: relative;">
      <input 
        type = "email" 
        id = "email"
        placeholder="enter email"
        pInputText
        class = "w-full"
        autocomplete="off"
        formControlName = "email"
        [ngClass]="{
          'ng-invalid ng-dirty' : (forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched) || forgotPasswordForm.get('email')?.hasError('email')
        }"
      />
      @if(forgotPasswordForm.get("email")?.hasError("required") && forgotPasswordForm.get("email")?.touched)
        {
          <app-error-message message = "email is required" />
        }
        @if(forgotPasswordForm.get("email")?.hasError("email"))
        {
          <app-error-message message = "invalid email" />
        }
    </div>
    <app-button 
      buttonName = "send code"
      background = "#4461F2"
      color = "#ffffff"
      [borderRadius] = 15
      buttonType = "button"
      (onClick)="forgotPassword()"
      [disabled]="forgotPasswordForm.invalid"
    />
  </form>
</section>
