<app-search-bar 
  (search)="search($event)"
  buttonName = "start quiz"
/>
<section class="quizes">
  <p class="quizes-title">quizes</p>
  <div class="quizes-cards">
    @for (quiz of subjects(); track quiz._id) {
      <div class="quizes-cards-card">
        <app-quiz-card 
          [quiz]="quiz"
        />
      </div>
    }
    <!-- <p-virtualScroller [value]="subjects" scrollHeight="500px" [itemSize]="150">
      <ng-template pTemplate="item" let-quiz>
        <div class="quizes-cards-card">
          <app-quiz-card 
            [quiz]="quiz"
          />
        </div>
      </ng-template>
    </p-virtualScroller> -->
  </div>
</section>