<section class="reset-password">
  <app-form-title text = "set a password" />
  <form [formGroup]="setPasswordForm">
    <div class = "mt-4 mb-2">
      <app-form-input 
        formControlName = "newPassword"
        placeholder = "new password"
        type = "password"
        id = "password"
        [errors]="setPasswordForm.get('newPassword')?.errors"
      />
    </div>
    <div class = "mt-4 mb-2">
      <app-form-input 
        formControlName = "rePassword"
        placeholder = "confirm password"
        type = "password"
        id = "password"
        [errors]="setPasswordForm.get('rePassword')?.errors || setPasswordForm.errors"
      />
    </div>
    <app-button 
      buttonName = "reset password"
      background = "#4461F2"
      color = "#ffffff"
      [borderRadius] = 15
      buttonType = "button"
      (onClick)="resetPassword()"
      [disabled]="setPasswordForm.invalid"
      />
  </form>
</section>
<p-confirmDialog
[dismissableMask]="true" styleClass = "reset-password-success-dialog" key="reset-password-success">
  <ng-template pTemplate="header">
      <div class="w-full">
        <i class="pi pi-check-circle text-7xl text-green-500"></i>
        <h2>password is changed!</h2>
        <p>your password has been changed successfully!</p>
        <app-button 
          buttonName = "Login Again"
          background = "#4461F2"
          color = "#ffffff"
          [borderRadius] = 5
          (onClick)="gotoLogin()"
        />
      </div>
  </ng-template>
</p-confirmDialog>