@import "../../../styles/fonts";
.reset-password
{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media all and (min-width:1500px)
  {
    width: 500px;
    margin: auto;
    // height: 100%;
  }
  input
  {
    &::placeholder
    {
      text-transform: capitalize;
      color:var(--grey-color);
      @extend .inter-font;
    }
  }
}
::ng-deep .password-input
{
  .p-inputtext , .p-password
  {
    width: 100% !important;
  }
  .p-inputtext
  {
    &::placeholder
    {
      text-transform: capitalize !important;
      color:var(--grey-color) !important;
      @extend .inter-font;
    }
  }
}