<section class="reset-password">
  <app-form-title text = "set a password" />
  <form [formGroup]="setPasswordForm">
    <div class="form-group mb-2" style = "position: relative;">
      <p-password 
        [toggleMask]="true" 
        class = "password-input"
        placeholder="new Password"
        autocomplete="off"
        formControlName = "newPassword"
        [feedback]="false"
        [ngClass]="{
          'ng-invalid ng-dirty' : (setPasswordForm.get('newPassword')?.hasError('required') && setPasswordForm.get('newPassword')?.touched) || setPasswordForm.get('newPassword')?.hasError('pattern') || setPasswordForm.get('newPassword')?.hasError('minlength')
        }"
      />
      @if(setPasswordForm.get("newPassword")?.hasError("required") && setPasswordForm.get("newPassword")?.touched)
      {
        <app-error-message message = "password is required" />
      }
      @if(setPasswordForm.get("newPassword")?.hasError("minlength"))
      {
        <app-error-message message = "the password must be not less than 6 characters" />
      }
      @if(setPasswordForm.get("newPassword")?.hasError("pattern") && !setPasswordForm.get("newPassword")?.hasError("minlength"))
      {
        <app-error-message message = "the password must contain at least 1 number and 1 capital letter" />
      }
    </div>
    <div class="form-group mb-2 mt-4" style = "position: relative;">
      <p-password 
        [toggleMask]="true" 
        class = "password-input"
        placeholder="confirm Password"
        autocomplete="off"
        formControlName = "rePassword"
        [feedback]="false"
        [ngClass]="{
          'ng-invalid ng-dirty' : (setPasswordForm.get('rePassword')?.hasError('required') && setPasswordForm.get('rePassword')?.touched) || setPasswordForm.get('rePassword')?.hasError('pattern') || setPasswordForm.get('rePassword')?.hasError('minlength')
        }"
      />
      @if(setPasswordForm.get("rePassword")?.hasError("required") && setPasswordForm.get("rePassword")?.touched)
      {
        <app-error-message message = "confirm Password is required" />
      }
      @if(setPasswordForm.hasError("mismatch") && !setPasswordForm.get("rePassword")?.hasError("required"))
      {
        <app-error-message message = "password and confirm password are not match" />
      }
    </div>
    <app-button 
      buttonName = "reset password"
      background = "#4461F2"
      color = "#ffffff"
      [borderRadius] = 15
      buttonType = "button"
      (onClick)="resetPassword()"
      [disabled]="setPasswordForm.invalid"
    />
  </form>
</section>