@import "../../../styles/fonts";
.auth-layout
{
  &-card
  {
    height: 101vh;
    width: 100%;
    &-left
    {
      background-color: var(--lighter-blue-color);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      padding-left: 50px;
      .welcome-text
      {
        color:var(--black-color);
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: bold;
        @extend .poppins-font;
        span
        {
          font-size: 2.2rem;
          color:var(--dark-blue-color);
        }
      }
      .welcome-desc
      {
        @extend .poppins-font;
        font-weight: 500;
        width: 450px;
      }
    }
    &-right
    {
      padding: 30px;
      .tabs-view
      {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:10px;
        .signin-btn
        {
          border:0;
          background-color: transparent;
          color:var(--dark-blue-color);
          text-transform: capitalize;
          font-size: 17px;
          font-weight: 600;
          @extend .inter-font;
          cursor: pointer;
          margin-right: 20px;
          padding:10px;
          &.active
          {
            border: 1px solid var(--light-grey-color);
            border-radius: 10px;
            padding:10px;
          }
          &:last-child
          {
            margin-right: 0;
          }
        }
      }
      .auth-form
      {
        height: calc(100% - 43px);
      }
    }
  }
}
::ng-deep .languages-dropdown
{
  .p-dropdown
  {
    border: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    .p-dropdown-label
    {
      color:var(--black-color);
    }
    .p-dropdown-items
    {
      margin: 0 !important;
      padding: 0 !important;
      .p-dropdown-item
      {
        &.p-highlight
        {
          border-radius: 5px;
        }
      }
    }
  }
}