<section class="register-page">
  <div class="form-container">
    <app-form-title text="Sign up" />
    <form [formGroup]="registerForm">
      <div class="form-group">
        <input 
          type = "text" 
          id = "fname"
          placeholder="first name"
          pInputText
          class = "w-full"
          autocomplete="off"
          formControlName = "firstName"
          [ngClass]="{
            'ng-invalid ng-dirty' : (registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched)
          }"
        />
        @if(registerForm.get("firstName")?.hasError("required") && registerForm.get("firstName")?.touched)
        {
          <app-error-message message = "first name is required" />
        }
      </div>
      <div class="form-group mt-4">
        <input 
          type = "text" 
          id = "lname"
          placeholder="last name"
          pInputText
          class = "w-full"
          autocomplete="off"
          formControlName = "lastName"
          [ngClass]="{
            'ng-invalid ng-dirty' : (registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched)
          }"
        />
        @if(registerForm.get("lastName")?.hasError("required") && registerForm.get("lastName")?.touched)
        {
          <app-error-message message = "last name is required" />
        }
      </div>
      <div class="form-group mt-4">
        <input 
          type = "text" 
          id = "username"
          placeholder="username"
          pInputText
          class = "w-full"
          autocomplete="off"
          formControlName = "username"
          [ngClass]="{
            'ng-invalid ng-dirty' : (registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched)
          }"
        />
        @if(registerForm.get("username")?.hasError("required") && registerForm.get("username")?.touched)
        {
          <app-error-message message = "username is required" />
        }
      </div>
      <div class="form-group mt-4">
        <input 
          type = "text" 
          id = "phone"
          placeholder="phone"
          pInputText
          class = "w-full"
          autocomplete="off"
          formControlName = "phone"
          [ngClass]="{
            'ng-invalid ng-dirty' : (registerForm.get('phone')?.hasError('required') && registerForm.get('phone')?.touched)
          }"
        />
        @if(registerForm.get("phone")?.hasError("required") && registerForm.get("phone")?.touched)
        {
          <app-error-message message = "phone is required" />
        }
        @if(registerForm.get("phone")?.hasError("maxlength"))
        {
          <app-error-message message = "phone max length is 11" />
        }
      </div>
      <div class="form-group mt-4">
        <input 
          type = "email" 
          id = "email"
          placeholder="Email"
          pInputText
          class = "w-full"
          autocomplete="off"
          formControlName = "email"
        />
        @if(registerForm.get("email")?.hasError("required") && registerForm.get("email")?.touched)
        {
          <app-error-message message = "email is required" />
        }
        @if(registerForm.get("email")?.hasError("email"))
        {
          <app-error-message message = "invalid email" />
        }
      </div>
      <div class="form-group mt-4">
        <p-password 
          [toggleMask]="true" 
          class = "password-input"
          placeholder="Password"
          autocomplete="off"
          formControlName = "password"
          [feedback]="false"
        />
        @if(registerForm.get("password")?.hasError("required") && registerForm.get("password")?.touched)
        {
          <app-error-message message = "password is required" />
        }
        @if(registerForm.get("password")?.hasError("minlength"))
        {
          <app-error-message message = "the password must be not less than 6 characters" />
        }
        @if(registerForm.get("password")?.hasError("pattern") && !registerForm.get("password")?.hasError("minlength"))
        {
          <app-error-message message = "the password must contain at least 1 number and 1 capital letter" />
        }
      </div>
      <div class="form-group mt-4">
        <p-password 
          [toggleMask]="true" 
          class = "password-input"
          placeholder="Confirm Password"
          autocomplete="off"
          [feedback]="false"
          formControlName = "rePassword"
          [ngClass]="{
            'ng-invalid ng-dirty' : (registerForm.get('rePassword')?.hasError('required') && registerForm.get('rePassword')?.touched) || (registerForm.hasError('mismatch') && !registerForm.get('rePassword')?.hasError('required'))
          }"
        />
        @if(registerForm.get("rePassword")?.hasError("required") && registerForm.get("rePassword")?.touched)
        {
          <app-error-message message = "confirm Password is required" />
        }
        @if(registerForm.hasError("mismatch") && !registerForm.get("rePassword")?.hasError("required"))
        {
          <app-error-message message = "password and confirm password are not match" />
        }
      </div>
      <p class="account-exists">
        Already have an account?
        <a routerLink = "/auth/login">Login</a>
      </p>
      <app-button 
        buttonName = "create account"
        background = "#4461F2"
        color = "#ffffff"
        [borderRadius] = 15
        buttonType = "button"
        (onClick)="register()"
        [disabled]="registerForm.invalid"
        />
    </form>
  </div>
</section>