<section class="register-page">
  <div class="form-container">
    <app-form-title text="Sign up" />
    <form [formGroup]="registerForm">
      <app-form-input 
        formControlName = "firstName"
        placeholder = "first name"
        type = "text"
        id = "fname"
        [errors]="registerForm.get('firstName')?.errors"
      />
      <div class = "mt-4">
        <app-form-input 
          formControlName = "lastName"
          placeholder = "last name"
          type = "text"
          id = "lname"
          [errors]="registerForm.get('lastName')?.errors"
        />
      </div>
      <div class = "mt-4">
        <app-form-input 
          formControlName = "username"
          placeholder = "username"
          type = "text"
          id = "username"
          [errors]="registerForm.get('username')?.errors"
        />
      </div>
      <div class = "mt-4">
        <app-form-input 
          formControlName = "phone"
          placeholder = "phone"
          type = "text"
          id = "phone"
          [errors]="registerForm.get('phone')?.errors"
        />
      </div>
      <div class = "mt-4">
        <app-form-input 
          formControlName = "email"
          placeholder = "email"
          type = "email"
          id = "email"
          [errors]="registerForm.get('email')?.errors"
        />
      </div>
      <div class = "mt-4">
        <app-form-input 
          formControlName = "password"
          placeholder = "Password"
          type = "password"
          id = "password"
          [errors]="registerForm.get('password')?.errors"
        />
      </div>
      <div class = "mt-4">
        <app-form-input 
          formControlName = "rePassword"
          placeholder = "Confirm Password"
          type = "password"
          id = "rePassword"
          [errors]="registerForm.get('rePassword')?.errors || registerForm.errors"
        />
      </div>
      <p class="account-exists">
        Already have an account?
        <a routerLink = "/auth/login">Login</a>
      </p>
      <app-button 
        buttonName = "create account"
        background = "#4461F2"
        color = "#ffffff"
        [borderRadius] = 15
        buttonType = "button"
        (onClick)="register()"
        [disabled]="registerForm.invalid"
        />
    </form>
  </div>
</section>