@import "../../../styles/fonts";
.login-page
{
  // height:100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-container
  {
    .title
    {
      @extend .inter-font;
      color:var(--black-color);
      font-size: 1.2rem;
      text-transform: capitalize;
      font-weight: bold;
    }
    input
    {
      &::placeholder
      {
        text-transform: capitalize;
        color:var(--grey-color);
        @extend .inter-font;
      }
    }
    .recover-password-btn
    {
      border:0;
      background-color: transparent;
      color:var(--button-color);
      text-transform: capitalize;
      margin-top: 10px;
      @extend .poppins-font;
      font-size: 15px;
      cursor: pointer;
      font-weight: 500;
      text-align: right;
    }
  }
}
.form-group
{
  position: relative;
}
.errorMsg
{
  color:red;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  bottom: -18px;
  font-weight: 550;
  font-size: 13px;
}
::ng-deep .password-input
{
  .p-inputtext , .p-password
  {
    width: 100% !important;
  }
  .p-inputtext
  {
    &::placeholder
    {
      text-transform: capitalize !important;
      color:var(--grey-color) !important;
      @extend .inter-font;
    }
  }
}