<section class="login-page">
  <div class="form-container">
    <!-- <p class="title">sign in</p> -->
    <app-form-title text="sign in" />
    <form class = "mt-5" [formGroup]="loginForm">
      <app-form-input 
      formControlName = "email"
      placeholder = "email"
      type = "email"
      id = "email"
      [errors]="loginForm.get('email')?.errors"
    />
    <div class = "mt-4">
      <app-form-input 
        formControlName = "password"
        placeholder = "Password"
        type = "password"
        id = "password"
        [errors]="loginForm.get('password')?.errors"
      />
    </div>
      <!-- <div class="form-group mt-5">
        <p-password 
          [toggleMask]="true" 
          class = "password-input"
          placeholder="Password"
          autocomplete="off"
          formControlName = "password"
          [feedback]="false"
          [ngClass]="{
            'ng-invalid ng-dirty' : (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) || loginForm.get('password')?.hasError('pattern') || loginForm.get('password')?.hasError('minlength')
          }"
        />
        @if(loginForm.get("password")?.hasError("required") && loginForm.get("password")?.touched)
        {
          <app-error-message message = "password is required" />
        }
        @if(loginForm.get("password")?.hasError("minlength"))
        {
          <app-error-message message = "the password must be not less than 6 characters" />
        }
        @if(loginForm.get("password")?.hasError("pattern") && !loginForm.get("password")?.hasError("minlength"))
        {
          <app-error-message message = "the password must contain at least 1 number and 1 capital letter" />
        }
      </div> -->
      <div class = "text-right mt-2">
        <button 
          type = "button"
          class = "recover-password-btn"
          routerLink = "/auth/forgot-password"
        >recover password?</button>
      </div>
      <app-button 
        buttonName = "sign in"
        background = "#4461F2"
        color = "#ffffff"
        [borderRadius] = 15
        buttonType = "button"
        (onClick)="signIn()"
        [disabled]="loginForm.invalid"
        />
    </form>
  </div>
</section>
