@import "../../../../styles/fonts";
.sidebar
{
  // background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  width: 17%;
  padding: 20px;
  // @media all and (min-width:769px) and (max-width:1200px)
  // {
  //   width: 25%;
  // }
  @media all and (min-width:1500px)
  {
    width: 18%;
  }
  @media all and (min-width:1200px) and (max-width:1499px)
  {
    width: 20%;
  }
  @media all and (min-width:1001px) and (max-width:1199px)
  {
    width: 20%;
  }
  @media all and (min-width:851px) and (max-width:900px)
  {
    width: 30%;
  }
  @media all and (min-width:901px) and (max-width:1000px)
  {
    width: 26%;
  }
  @media all and (max-width:850px)
  {
    width: 26%;
  }
  &-links
  {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 30px;
    &-link
    {
      margin-bottom: 25px;
      height: 40px;
      border-radius: 10px;
      transition: .3s;
      a
      {
        transition: .3s;
        display: flex;
        align-items: center;
        gap:20px;
        height: 100%;
        text-decoration: none;
        padding-left: 15px;
        color:var(--grey-color5);
        img
        {
          width: 20px;
        }
        span
        {
          text-transform: capitalize;
          font-size: 17px;
          font-weight: 500;
          @extend .poppins-font;
        }
      }
      &.active , &:hover
      {
        background-color: var(--light-grey-color);
      }
    }
  }
}